{# templates/payment/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Payment Successful{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Payment Successful!</h4>
            <p>Thank you for your payment. Your transaction was successful.</p>
            <hr>
            <p class="mb-0">You will receive a confirmation email shortly.</p>
        </div>
    </div>
{% endblock %}
